@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.onlypost{
    padding:20px;
    font-size:1rem;
    list-style-type: none;
    margin-top:5%;
    #username{font: size 1.2rem;font-weight:bold;color:#FD3984;float:left;}
    #content{font-size:0.8rem;transform: translateY(-50%);}
    img{width:100px;height:100px;border-radius:50% ;}
    a{font-size: 1rem;color:rgb(0, 153, 255)}
   
}
.delete-post-button{float:right;color:black;font-weight:bold;font-size:1.5rem;}
.newpost{color:rgb(24, 13, 15);background-color: rgb(240, 240, 231);
   padding:10px;margin-bottom:2%;}
#postavatar{float:left;width:200px;}

.fa-thumbs-up:before{font-size: 1rem !important;color:rgb(22, 173, 233)}
