#layout-footer{
  z-index:-1;
  position: relative;
  bottom:0px;
  color: white;
   width:100%; 
   height:80px;
   background: linear-gradient(to right, rgb(38, 12, 187), rgb(2, 98, 224));
   display: flex;
  justify-content: center;
  
}

  #layout-footer a{
      color: white;
      text-decoration: none;
      align-content: center;
     
  }

  
